/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); */

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* height: 90vh; */
    margin: 0;
  }
  img {
    width: 300px;
    height: 300px;
}
#welcome-h1 {
    display: flexbox;
    align-items: center;
    text-align: center;
    color: rgb(13, 60, 148);
    /* border: 3px solid darkgrey; */
}
#banner {
    display: flex;
    justify-content: center;

    /* justify-content: space-between; */
    
}
.food-name {
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    width: 9rem;
    /* padding: 4rem 4rem 4rem 4rem; */
    background-color: rgb(202, 215, 228);
    border-radius: 50%;
    color: rgb(51, 66, 199);
}
.sub-container {
    /* border: 3px solid black; */
    display: flex;
    justify-content: flex-start;
}
